<div class="p-4">
  <section class="heading">
    <span class="page-title font-weight-bold font-italic">{{ title }}</span>
    <a routerLink="/movie-create">
      <img width="20" height="20" src="images/add-icon.png" title="Add New" />
    </a>
  </section>
  <table class="table table-striped table-hover">
    <thead>
      <th>Id</th>
      <th>Title</th>
      <th>Year</th>
      <th>Rating</th>
      <th>Director</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let m of movies">
        <td>{{ m.id }}</td>
        <td>{{ m.title }}</td>
        <td>{{ m.year }}</td>
        <td>{{ m.rating }}</td>
        <td>{{ m.director }}</td>
        <td>
          <a routerLink="/movie-edit/{{ m.id }}">
            <img
              src="images/pencil-icon.png"
              width="20"
              height="20"
              title="Edit Movie"
          /></a>
          |
          <a routerLink="/movie-detail/{{ m.id }}">
            <img
              src="images/details.png"
              width="20"
              height="20"
              title="Movie Details"
            />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
