<app-menu></app-menu>
<h1>Actor</h1>
<table>
    <tr>
        <td>Actor Name</td><td>Gender</td><td>Birth Date</td>
    </tr>
    <tr>
        <td>{{actor.lastName + ', ' + actor.firstName}}</td>
        <td>{{actor.gender}}</td>
        <td>{{actor.birthDate}}</td>
    </tr>
</table>


<h1>Known For:</h1>
<table>
    <tr>
        <td>Movie</td><td>Role</td>
    </tr>
    <tr *ngFor="let c of credits">
        <td>{{c.movie.title + " - "+ c.movie.year}}</td>
        <td>{{c.role}}</td>
    </tr>
</table>
